body {
  background-color: #333;
}

* {
  color: white;
  font-family: Verdana, sans-serif;
}

canvas#pong {
  border: 2px solid #aaa;
  background: #555;

  border-bottom: 2px dotted #aaa;
  border-top: 2px dotted #aaa;

  position: absolute;
  left: 150px;
  top: 30px;
}

#red-score {
  font-size: 80px;
  font-weight: bold;
  color: #b22;
  position: absolute;
  left: 550px;
  top: 12px;
}

#blue-score {
  font-size: 80px;
  font-weight: bold;
  color: #55a;
  position: absolute;
  left: 550px;
  top: 430px;
}

#red-user {
  font-size: 35px;
  font-weight: bold;
  color: #b22;
  position: absolute;
  left: 550px;
  top: 102px;
}

#blue-user {
  font-size: 35px;
  font-weight: bold;
  color: #55a;
  position: absolute;
  left: 550px;
  top: 392px;
}


